In [1]:
import pandas as pd

# Load the TSV file
tweets_df = pd.read_csv('correct_twitter_201904.tsv', sep='\t')

In [2]:
tweets_df

,id,event,ts1,ts2,from_stream,directly_from_stream,from_search,directly_from_search,from_quote_search,directly_from_quote_search,...,retweeted,retweeted_author_id,retweeted_handle,retweeted_follower_count,mentioned_author_ids,mentioned_handles,hashtags,urls,media_keys,place_id
0,1131594960443199488,britney_201904,2022-02-28 09:34:44.627023-05:00,2022-02-28 09:34:44.627023-05:00,True,True,False,False,False,False,...,1130917791752757254,3042894016,Iesbwian,22760,None,None,None,None,None,None
1,1131594976750653440,britney_201904,2022-02-28 09:34:44.626921-05:00,2022-02-28 09:34:44.626921-05:00,True,True,False,False,False,False,...,None,None,None,None,None,None,None,None,None,None
2,1131589737955942405,britney_201904,2022-02-28 09:34:44.634058-05:00,2022-02-28 09:34:44.634058-05:00,True,True,False,False,False,False,...,None,None,None,None,None,None,None,None,None,None
3,1131594909469892610,britney_201904,2022-02-28 09:34:44.627125-05:00,2022-02-28 09:34:44.627125-05:00,True,True,False,False,False,False,...,1130917791752757254,3042894016,Iesbwian,22760,None,None,None,None,None,None
4,1131594812694511617,britney_201904,2022-02-28 09:34:44.627227-05:00,2022-02-28 09:34:44.627227-05:00,True,True,False,False,False,False,...,1130917791752757254,3042894016,Iesbwian,22760,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88032,1122977274352082944,britney_201904,2022-02-28 09:47:43.066500-05:00,2022-02-28 09:47:43.066500-05:00,True,True,False,False,False,False,...,1122975837500989440,2934938957,STORMISKELLYBAG,13773,None,None,None,None,None,None
88033,1122977257969127429,britney_201904,2022-02-28 09:47:43.066605-05:00,2022-02-28 09:47:43.066605-05:00,True,True,False,False,False,False,...,1118942889785085958,613702825,keanuorange,1422,None,None,None,None,None,None
88034,1122977009347518466,britney_201904,2022-02-28 09:47:43.066708-05:00,2022-02-28 09:47:43.066708-05:00,True,True,False,False,False,False,...,None,None,None,None,None,None,None,None,None,None
88035,1122976878812442626,britney_201904,2022-02-28 09:47:43.066810-05:00,2022-02-28 09:47:43.066810-05:00,True,True,False,False,False,False,...,1122898327895519233,846864187015888896,TheBlastNews,11533,None,None,None,None,None,None
88036,1122976855647240203,britney_201904,2022-02-28 09:47:43.066921-05:00,2022-02-28 09:47:43.066921-05:00,True,True,False,False,False,False,...,None,None,None,None,None,None,None,"[{'end': 65, 'url': 'https://t.co/DcqjuqMJDK',...",None,None

In [3]:
# Check for missing values in the 'created_at' column
print("Missing values in 'created_at':", tweets_df['created_at'].isnull().sum())
print("Unique values in 'created_at':", tweets_df['created_at'].unique())

Missing values in 'created_at': 0
Unique values in 'created_at': ['2019-05-23 12:17:17-04:00' '2019-05-23 12:17:21-04:00'
 '2019-05-23 11:56:32-04:00' ... '2019-04-29 17:32:37-04:00'
 '2019-04-29 17:32:06-04:00' '2019-04-29 17:32:00-04:00']

In [4]:
#Drop rows with missing 'created_at' values
tweets_df = tweets_df.dropna(subset=['created_at'])

In [7]:
# Check for any rows that could not be converted
invalid_dates = tweets_df['created_at'].isnull().sum()
if invalid_dates > 0:
    print(f"Warning: {invalid_dates} timestamps could not be parsed and will be dropped.")
    tweets_df = tweets_df.dropna(subset=['created_at'])

# Filter relevant columns
tweets_df = tweets_df[['author_id', 'text', 'like_count', 'created_at', 'place_id']]

# Display the first few rows to confirm loading and conversion
print(tweets_df.head())

             author_id                                               text  \
0           1620294025  RT @Iesbwian: britney spears was right.....my ...
1             34706181  TJ trusts me to make a playlsit for our 5 hour...
2           1784620956  @badgurlhenri you better work bitch  - spears,...
3           3410399002  RT @Iesbwian: britney spears was right.....my ...
4  1098239071837515781  RT @Iesbwian: britney spears was right.....my ...

   like_count                 created_at place_id
0           0  2019-05-23 12:17:17-04:00     None
1           1  2019-05-23 12:17:21-04:00     None
2           1  2019-05-23 11:56:32-04:00     None
3           0  2019-05-23 12:17:05-04:00     None
4           0  2019-05-23 12:16:42-04:00     None

In [17]:
def query_tweets(term, df):
    # Filter tweets containing the search term
    tweets_df = df[df['text'].str.contains(term, case=False, na=False)]
    
    if tweets_df.empty:
        return "No tweets found for this term."

In [19]:
# Ensure 'created_at' is in datetime format and handle errors
tweets_df['created_at'] = pd.to_datetime(tweets_df['created_at'], errors='coerce', utc=True)

# Drop rows where 'created_at' could not be parsed
tweets_df = tweets_df.dropna(subset=['created_at'])

In [20]:
# Optional: Convert to local timezone
tweets_df['created_at'] = tweets_df['created_at'].dt.tz_convert('America/New_York')  # Change to your desired timezone

In [21]:
# Calculate results
tweets_per_day = tweets_df['created_at'].dt.date.value_counts().sort_index()

In [22]:
tweets_per_day

2019-03-01       2
2019-03-02       1
2019-03-03       3
2019-03-04       1
2019-03-05       3
              ...
2019-05-26    1250
2019-05-27    1060
2019-05-28    1870
2019-05-29    1927
2019-05-30    2178
Name: created_at, Length: 82, dtype: int64

In [23]:
unique_users = tweets_df['author_id'].nunique()

In [24]:
unique_users

51899

In [25]:
avg_likes =tweets_df['like_count'].mean()

In [26]:
avg_likes

164.30422436021217

In [27]:
locations =tweets_df['place_id'].value_counts()

In [28]:
locations

None                87016
3b77caf94bfc81fe       45
1ef1183ed7056dc1       17
01a9a39529b27f36       13
06b9691f34c91d1c       11
                    ...
f207b85be9f1513e        1
dd9ada4135bc9668        1
4bb41f9d86e16416        1
524264105d595809        1
0149775319466b18        1
Name: place_id, Length: 599, dtype: int64

In [29]:
 tweets_by_time = tweets_df['created_at'].dt.hour.value_counts().sort_index()

In [30]:
tweets_by_time

0     3102
1     2709
2     2245
3     2162
4     2049
5     1980
6     2031
7     2250
8     2777
9     3493
10    4101
11    4295
12    4617
13    4999
14    5204
15    4878
16    5572
17    5215
18    4467
19    4209
20    4243
21    3961
22    3825
23    3653
Name: created_at, dtype: int64

In [31]:
most_tweets_user =tweets_df['author_id'].value_counts().idxmax()

In [32]:
most_tweets_user

1045546951855366144

In [4]:
import pandas as pd

# Load the TSV file
tweets_df = pd.read_csv('correct_twitter_201904.tsv', sep='\t')

# Check for missing values
print("Missing values in 'created_at':", tweets_df['created_at'].isnull().sum())

# Drop rows with missing 'created_at' values
tweets_df = tweets_df.dropna(subset=['created_at'])

# Ensure 'created_at' is in datetime format
tweets_df['created_at'] = pd.to_datetime(tweets_df['created_at'], errors='coerce', utc=True)

# Drop rows where 'created_at' could not be parsed
tweets_df = tweets_df.dropna(subset=['created_at'])

# Filter relevant columns
tweets_df = tweets_df[['author_id', 'text', 'like_count', 'created_at', 'place_id']]

# Function to analyze tweets
def analyze_tweets(df):
    df['created_at'] = df['created_at'].dt.tz_convert('America/New_York')

    tweets_per_day = df['created_at'].dt.date.value_counts().sort_index()
    unique_users = df['author_id'].nunique()
    avg_likes = df['like_count'].mean()
    locations = df['place_id'].value_counts()
    tweets_by_time = df['created_at'].dt.hour.value_counts().sort_index()
    most_tweets_user = df['author_id'].value_counts().idxmax()

    return {
        'tweets_per_day': tweets_per_day,
        'unique_users': unique_users,
        'avg_likes': avg_likes,
        'locations': locations,
        'tweets_by_time': tweets_by_time,
        'most_tweets_user': most_tweets_user,
    }

# Analyze tweets
results = analyze_tweets(tweets_df)

# Output results
for key, value in results.items():
    print(f"{key}:\n{value}\n")

Missing values in 'created_at': 0
tweets_per_day:
2019-03-01       2
2019-03-02       1
2019-03-03       3
2019-03-04       1
2019-03-05       3
              ...
2019-05-26    1250
2019-05-27    1060
2019-05-28    1870
2019-05-29    1927
2019-05-30    2178
Name: created_at, Length: 82, dtype: int64

unique_users:
51899

avg_likes:
164.30422436021217

locations:
None                87016
3b77caf94bfc81fe       45
1ef1183ed7056dc1       17
01a9a39529b27f36       13
1c69a67ad480e1b1       11
                    ...
544762ebf7fda780        1
01eef0b11a025fde        1
c5292d78d38e3af6        1
002c095d059ebf44        1
c023acc638c5fc22        1
Name: place_id, Length: 599, dtype: int64

tweets_by_time:
0     3102
1     2709
2     2245
3     2162
4     2049
5     1980
6     2031
7     2250
8     2777
9     3493
10    4101
11    4295
12    4617
13    4999
14    5204
15    4878
16    5572
17    5215
18    4467
19    4209
20    4243
21    3961
22    3825
23    3653
Name: created_at, dtype: int64

most_tweets_user:
1045546951855366144